<div class="row">
    <div class="col-lg-12">
        <div class="row mt-5">
            <div class="col-lg-6 d-flex justify-content-center">
                <a class="btn btn-lg btn-success cursor">Añadir facturas</a>
            </div>
            <div class="col-lg-6 d-flex justify-content-center">
                <a class="btn btn-lg btn-success cursor">ver Facturas</a>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-6 d-flex justify-content-center">
                <a class="btn btn-lg btn-success cursor">Cargar facturas</a>
            </div>
            <div class="col-lg-6 d-flex justify-content-center">
                <a class="btn btn-lg btn-success cursor">Reportes</a>
            </div>
        </div>
    </div>
</div>