<div class="row">
    <div class="col-md-6 mt-4">
        <select class="selectpicker m-b-20 m-r-10" data-style="btn-info btn-outline-info" (change)="ordenar($event.target.value)">
                    <option value="asc">Mas antiguos</option>
                    <option value="desc" >Mas recientes</option>
                </select>
    </div>
    <div *ngIf="areas" class="col-md-6 mt-4 d-flex justify-content-end">
        <p class="p-2 m-0">Filtrar por area</p>
        <select class="form-control w-50" data-style="btn-info btn-outline-info" (change)="filtrarArea($event.target.value)">
                <option value="0">Elige el area</option>
                <option *ngFor="let area of areas" value="{{area.idArea}}">{{area.nombre}}</option>
            </select>
    </div>
</div>
<div *ngIf="loaded" class="row animated fadeIn mt-3">
    <div class="col-lg-3 col-md-6" *ngFor="let vale of vales">
        <div class="card card-vale">
            <div class="card-header">
                <h4 class="m-b-0 text-white">No° requisicion: <span class="label label-warning"> {{vale.numeroRequisicion}}</span></h4>
            </div>
            <div class="card-body text-white">
                <p class="p-0 m-0">Área:</p>
                <span class="label label-danger">{{vale.area.nombre}}</span>
                <p class="p-0 m-0">Responsable:</p>
                <span class="label label-danger">{{vale.area.responsable}}</span>
                <p class="p-0 m-0">Fecha de entrega:</p>
                <span class="label label-danger">{{vale.fechaEntrega | date}}</span>

            </div>
            <div class="card-footer">
                <a [routerLink]="['/vales', vale.numeroRequisicion]" class="btn btn-inverse">Ver vale </a>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <app-paginator-vales [paginador]="pageable"></app-paginator-vales>

    </div>
</div>

<app-loading *ngIf="loading"></app-loading>

<div class="row" *ngIf="error != null">
    <div class="col-lg-12">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">{{error.name}}</h4>
            <p>{{error.message}}</p>
            <hr>
            <p class="mb-0">{{error.status}}</p>
        </div>
    </div>
</div>

<div class="row" *ngIf="loaded && vales.length == 0" class="animated fadeIn">
    <div class="col-md-12">
        <div class="alert alert-info  mt-3">
            <span>No tiene vales de salida hechos <span><a [routerLink]="'/vales-ingresar'">generar vale de salida</a></span></span>
        </div>
    </div>
</div>