<div class="row" *ngIf="factura" class="animated fadeIn">
    <div class="col-md-12">
        <div class="card card-body printableArea">
            <div class="row">
                <div class="col-md-6">
                    <div class="pull-left">
                        <h3> &nbsp;<b class="text-danger">{{factura.proveedor.nombre}}</b></h3>
                        <p class="text-muted m-l-5">{{factura.proveedor.calle}}
                            <br/> CP - {{factura.proveedor.codigoPostal}}
                            <br/> Teléfono <b class="text-danger">{{factura.proveedor.telefono}}</b></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="pull-right text-right">
                        <address>

                            <p class="m-t-30"><b> Fecha de expidición :</b> <i class="fa fa-calendar"></i>{{factura.fechaExpedicion | date}}</p>
                            <p><b> Fecha de elaboración :</b> <i class="fa fa-calendar"></i> {{factura.fechaCreacion | date}}</p>
                        </address>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="table-responsive m-t-40" style="clear: both;">
                        <div class="card-header bg-info">
                            <h4 class="m-b-0 text-white">Productos</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="table_products" class="table m-t-30 table-hover contact-list" data-page-size="10">
                                    <thead>
                                        <tr>
                                            <th>Clave</th>
                                            <th>Descripción</th>
                                            <th>Cantidad</th>
                                            <th>Unidad medida</th>
                                            <th>Precio Unitario</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let producto of productos">
                                            <td>{{producto.producto.clave}}</td>
                                            <td>{{producto.producto.descripcion}}</td>
                                            <td>{{producto.cantidad}}</td>
                                            <td>{{producto.producto.unidadMedida}}</td>
                                            <td>{{producto.producto.precio}} </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="pull-right m-t-30 text-right">
                        <h3><b>Total :</b> ${{factura.total}} </h3>
                    </div>
                    <div class="clearfix"></div>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <div>
                            <button *ngIf="factura.documento" (click)="descargarArchivo(factura.documento)" class="btn btn-danger mx-2" type="submit"> Descargar factura con firmas <i class="mdi mdi-download ml-2"></i> </button>
                        </div>
                        <div>
                            <button *ngIf="usuario.role === 'ROLE_ADMIN'" [routerLink]="['/facturas/editar', folio]" class="btn btn-warning mx-2" type="submit"> Editar factura <i class="mdi mdi-pencil ml-2"></i> </button>
                        </div>
                    </div>
                    <div class="descripcion mt-2">
                        <p class="p-0 m-0 text-danger">**Descripción de la factura:</p>
                        <span>{{factura.descripcion}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-loading *ngIf="loading"></app-loading>