<div class="row" *ngIf="factura" class="animated fadeIn">
    <div class="col-md-12">
        <div class="card card-body printableArea">
            <div class="row">
                <div class="col-md-6">
                    <div class="pull-left">
                        <h3> &nbsp;<b class="text-danger">{{factura.proveedor.nombre}}</b></h3>
                        <p class="text-muted m-l-5">Calle 3 Sur 313,
                            <br/> Centro de la Ciudad,
                            <br/> Tehuacán Puebla,
                            <br/> N° - 75700,
                            <br/> Teléfono <b class="text-danger">01 800 890 0210</b></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="pull-right text-right">
                        <address>

                            <p class="m-t-30"><b> Fecha de expidicion :</b> <i class="fa fa-calendar"></i>{{factura.fechaExpedicion | date}}</p>
                            <p><b> Fecha de elaboracion :</b> <i class="fa fa-calendar"></i> {{factura.fechaCreacion | date}}</p>
                        </address>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="table-responsive m-t-40" style="clear: both;">
                        <div class="card-header bg-info">
                            <h4 class="m-b-0 text-white">Productos</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="table_products" class="table m-t-30 table-hover contact-list" data-page-size="10">
                                    <thead>
                                        <tr>
                                            <th>Clave</th>
                                            <th>Descripcción</th>
                                            <th>Cantidad</th>
                                            <th>Unidad</th>
                                            <th>Precio Unitario</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let producto of productos">
                                            <td>{{producto.producto.idProducto}}</td>
                                            <td>{{producto.producto.descripcion}}</td>
                                            <td>{{producto.producto.cantidad}}</td>
                                            <td>{{producto.producto.unidad}}</td>
                                            <td>{{producto.producto.precio}} </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <div id="add-contact" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">

                                                        <div class="modal-body">
                                                            <form class="form-horizontal form-material">
                                                                <div class="form-group">
                                                                    <div class="col-md-12 m-b-20">
                                                                        <input type="number" class="form-control" placeholder="Cantidad">
                                                                    </div>
                                                                    <div class="col-md-12 m-b-20">
                                                                        <input type="text" class="form-control" placeholder="Unidad"> </div>
                                                                    <div class="col-md-12 m-b-20">
                                                                        <input type="text" class="form-control" placeholder="Descripcción">
                                                                    </div>
                                                                    <div class="col-md-12 m-b-20">
                                                                        <input type="text" class="form-control" placeholder="Precio Unitario">
                                                                    </div>
                                                                    <div class="col-md-12 m-b-20">
                                                                        <input type="text" class="form-control" placeholder="Importe">
                                                                    </div>
                                                                    <div class="col-md-12 m-b-20">
                                                                        <input type="text" class="form-control" placeholder="Descuento">
                                                                    </div>
                                                                    <div class="col-md-12 m-b-20">
                                                                        <input type="text" class="form-control" placeholder="Impuesto">
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <!-- /.modal-content -->
                                                </div>
                                                <!-- /.modal-dialog -->
                                            </div>
                                            <td colspan="7">
                                                <div class="text-right">
                                                    <ul class="pagination"> </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="pull-right m-t-30 text-right">
                        <p>Sub - Total : $13,848 </p>
                        <p>IVA 16% : $138 </p>
                        <hr>
                        <h3><b>Total :</b> $13,986 </h3>
                    </div>
                    <div class="clearfix"></div>
                    <hr>
                    <div class="text-right">
                        <button class="btn btn-danger" type="submit"> Generar Vale de Salida </button>
                        <button id="print" class="btn btn-default btn-outline" type="button"> <span><i class="fa fa-print"></i> Imprimir </span> </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="loading" class="cargando w-100 d-flex justify-content-center p-5 animated fadeIn">
    <i class="fa fa-spinner fa-spin fa-3x"></i>
</div>