<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <br>
                        <button type="button" class="btn btn-info btn-rounded" data-toggle="modal" data-target="#add-proveedor">Agregar nuevo producto</button>
                    </div>
                    <div class="col-md-5">
                        <div class="floating-labels m-t-20">
                            <div class="form-group m-b-10">
                                <input type="text" class="form-control input-sm" id="input9"><span class="bar"></span>
                                <label for="input9">Buscar Producto</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive table-datos">
                    <table id="demo-foo-addrow" class="table m-t-30 table-hover contact-list" data-page-size="10">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th class="cursor" (click)="ordenarDesc()">Descripcion <i class="ti-exchange-vertical"></i></th>
                                <th>Piezas</th>
                                <th>Unidad</th>
                                <th>Precio</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let producto of productos">
                                <td>{{producto.idProducto}}</td>
                                <td>{{producto.descripcion}}</td>
                                <td>{{producto.cantidad}}</td>
                                <td><span class="label label-danger">{{producto.unidad}}</span></td>
                                <td>{{producto.precio}}</td>
                                <td>
                                    <button type="button" class="btn btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Eliminar"><i class="ti-trash" aria-hidden="true"></i></button>
                                    <button type="button" class="btn btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Editar"><i class="ti-pencil-alt" aria-hidden="true"></i></button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="7">
                                    <div class="text-right">
                                        <ul class="pagination"> </ul>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                    <div class="paginador d-flex justify-content-center">
                        <nav aria-label="...">
                            <ul class="pagination">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">Anterior</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item active">
                                    <a class="page-link" href="#">4 <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Siguiente</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="row" *ngIf="loading">
    <div class="col-lg-12">

        <div class="d-flex justify-content-center">
            <i class="fa fa-spinner fa-spin fa-3x"></i>
        </div>
    </div>
</div> -->

<!-- <div class="row" *ngIf="error != null">
    <div class="col-lg-12">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">{{error.error.message}}</h4>
            <p>{{error.error.error}}</p>
            <hr>
            <p class="mb-0">{{error.error.status}}</p>
        </div>
    </div>
</div> -->
