<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item"> <a (click)="irPaso1()" class="nav-link cursor" [ngClass]="{active: paso1}"><span class="mx-2"><i class="ti-files"></i></span> Selecciona la factura</a></li>
                    <li class="nav-item"> <a (click)="irPaso2()" class="nav-link cursor" [ngClass]="{active: paso2}"><span class="mx-2"><i class="ti-user"></i></span>Elige los productos</a> </li>
                    <li class="nav-item"> <a (click)="irPaso3()" class="nav-link cursor" [ngClass]="{active: paso3}"><span class="mx-2"><i class="ti-email"></i></span>Elige el area</a> </li>
                </ul>

                <div class="tab-content tabcontent-border">
                    <div class="tab-pane active" id="home8" role="tabpanel">
                        <!--   ELEGIR FACTURA    -->
                        <div class="elegirFactura animated fadeIn p-3" *ngIf="paso1">
                            <div class="row">
                                <div class="col-md-6">
                                    <form class="form-group">
                                        <div class="form-group">
                                            <input #txtBuscar (keyup)="buscarFactura(txtBuscar.value)" type="text" class="form-control" placeholder="Buscar factura por proveedor, folio"> </div>
                                    </form>
                                </div>
                                <div class="col-md-12">
                                    <h3 class="ml-2">Facturas recientes</h3>
                                    <ul class="list-group">
                                        <a *ngFor="let factura of facturas" (click)="seleccionarFactura(factura)" class="list-group-item cursor item-factura">
                                            <p class="m-0 p-0"><span class="label label-danger">Folio: </span> {{factura.folio}}</p>
                                            <p class="m-0 p-0"><span class="label label-danger">Fecha expedicion:</span> {{factura.fechaExpedicion | date}}</p>
                                            <p class="m-0 p-0"><span class="label label-danger">Proveedor:</span> {{factura.proveedor.nombre}}</p>
                                        </a>
                                    </ul>
                                </div>
                                <app-loading *ngIf="loading"></app-loading>
                            </div>
                        </div>
                        <!--   ELEGIR PRODUCTOS    -->
                        <div class="elegirProductos animated fadeIn p-3 " *ngIf="factura && paso2">
                            <h3>Elija los productos</h3>
                            <div class="productos my-3">
                                <button (click)="seleccionarTodo()" class="btn btn-info btn-sm mb-2">Seleccionar todo</button>
                                <button class="btn btn-danger btn-sm mb-2 mx-1" (click)="quitarTodo()">Deseleccionar todo</button>

                                <app-vale-item *ngFor="let productoFactura of factura.items; let i = index" [productoFactura]="productoFactura" [todo]="todo" [index]="i"></app-vale-item>

                            </div>
                            <hr>
                            <div class="d-flex justify-content-between">
                                <span>Productos agregados {{valesProductos.length}}</span>
                                <button (click)="abrirModal()" class="btn btn-sm btn-outline-info">Agregar producto de otra factura</button>
                            </div>

                            <div class="botones d-flex justify-content-between p-5">
                                <button (click)="anterior()" class="btn btn-sm btn-danger">Anterior</button>
                                <button (click)="siguintePaso()" class="btn btn-sm btn-danger">Siguiente</button>

                            </div>
                        </div>
                        <!--   SELECCIONAR AREA    -->
                        <div class="seleccionarArea animated p-2 fadeIn" *ngIf="paso3">
                            <div class="row">
                                <div class="col-md-5 my-5">
                                    <h4>Elige el area</h4>
                                    <select (change)="seleccionarArea($event.target.value)" class="form-control">
                                        <option value="0">Selecciona una area</option>
                                        <option *ngFor="let area of areas" value="{{area.idArea}}">{{area.nombre}}</option>
                                    </select>
                                </div>
                                <div class="col-md-3 my-sm-5 my-5">
                                    <h4>Numero de requisición</h4>
                                    <input name="numeroRequisicion" [(ngModel)]="numeroRequisicion" type="number" class="form-control">
                                </div>
                                <div class="col-md-4 my-5 my-5">
                                    <h4>Selecciona la fecha de entrega</h4>
                                    <input name="fechaEntrega" [(ngModel)]="fechaEntrega" type="date" class="form-control">
                                </div>
                            </div>
                            <div class="botones d-flex justify-content-between p-5">
                                <button (click)="volverPaso2()" class="btn btn-danger">Anterior</button>
                                <button [disabled]="loading" (click)="guardarVale()" class="btn btn-success">Generar vale <i *ngIf="loading" class="fa fa-spinner fa-spin"></i></button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-modal-vale-agregar [facturaVale]="factura"></app-modal-vale-agregar>