<div class="fondo-negro animated fadeIn" [ngClass]="modalProveedorService.oculto">

    <div class="modal" style="display: block;" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Proveedor</h5>
                    <button (click)="cerrarModal()" type="button" class="close cursor" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <form [formGroup]="formProveedor" (ngSubmit)="crearProveedor()">
                    <div class="modal-body modal-proveedor">

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="form-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <!-- [ngClass]="{'has-danger': !formProveedor.controls['nombre'].valid, 'has-success': formProveedor.controls['nombre'].valid }" -->
                                                    <div class="form-group">
                                                        <label class="control-label">Empresa:</label>
                                                        <!-- [ngClass]="{'form-control-danger': !formProveedor.controls['nombre'].valid, 'form-control-success': formProveedor.controls['nombre'].valid} -->
                                                        <input formControlName="nombre" type="text" class="form-control" placeholder="Nombre de la empresa">
                                                        <small class="form-control-feedback">*Obligatorio </small>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>

                                            <div class="row p-t-20">
                                                <div class="col-md-12">
                                                    <h4 class="">Domicilio Fiscal</h4>
                                                    <hr>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label">Calle:</label>
                                                        <input formControlName="calle" type="text" id="calle" class="form-control" placeholder="Escribe la calle">
                                                        <small class="form-control-feedback"> </small> </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label">
                                                                Nº Exterior:</label>
                                                        <input formControlName="numeroLote" type="text" id="numero_lote" class="form-control" placeholder="Número de lote">
                                                        <small class="form-control-feedback"> </small> </div>

                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label">Nº Interior:</label>
                                                        <input formControlName="numeroInterior" type="text" id="num_interior" class="form-control" placeholder="Número Interior">
                                                        <small class="form-control-feedback"> </small> </div>

                                                </div>
                                                <!--/span-->
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label">Colonia:</label>
                                                        <input formControlName="colonia" type="text" id="colonia" class="form-control" placeholder="Escribe la Colonia">
                                                        <small class="form-control-feedback"> </small> </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <div class="form-group">
                                                            <label class="control-label">Municipio:</label>
                                                            <input formControlName="municipio" type="text" id="municipio" class="form-control" value="Tehuacán" placeholder="Escribe el Municipio">
                                                            <small class="form-control-feedback"> </small>
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label">Estado:</label>
                                                        <input formControlName="estado" type="text" id="estado" value="Puebla" class="form-control" placeholder="Número del Estado">
                                                        <small class="form-control-feedback"> </small> </div>

                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label">Código Postal:</label>
                                                        <input formControlName="codigoPostal" type="text" id="codigo_postal" class="form-control" placeholder="Código Postal">
                                                        <small class="form-control-feedback"> </small> </div>

                                                </div>
                                                <div class="col-md-4">
                                                    <label class="control-label">RFC:</label>
                                                    <input formControlName="rfc" type="text" id="rfc" class="form-control">
                                                </div>
                                                <!--/span-->
                                            </div>

                                            <div class="row p-t-20">
                                                <div class="col-md-12">
                                                    <h4>Datos de Contacto</h4>
                                                    <hr>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Teléfono:</label>
                                                        <input formControlName="telefono" type="text" id="telefono" class="form-control" placeholder="Escribe el Teléfono">
                                                        <small class="form-control-feedback"> </small>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Contacto:</label>
                                                        <input formControlName="contacto" type="text" id="contacto" class="form-control" placeholder="Escribe el nombre del contacto">
                                                        <small class="form-control-feedback"> </small>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label class="control-label">Correo electrónico:</label>
                                                    <input formControlName="correo" type="text" id="correo" class="form-control" placeholder="example@example.com">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <div class="form-actions">
                            <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Guardar proveedor <i *ngIf="loading" class="fa fa-spinner fa-spin"></i></button>
                        </div>
                        <button (click)="cerrarModal()" type="button" class="btn btn-secondary ml-auto">Cerrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>