<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <!-- <button type="button" class="btn btn-info btn-rounded pull-left" (click)="abrirModal()">Agregar nuevo proveedor</button> -->
                <div class="m-3">
                    <button (click)="abrirModal()" class="btn btn-rounded btn-info">Agregar area <i class="mdi mdi-plus ml-2"></i></button>
                </div>
                <div *ngIf="loaded && areas.length === 0" class="alert alert-info">
                    <p>No hay áreas que mostrar</p>
                </div>
                <div *ngIf="loaded && areas.length > 0" class="table-responsive table-datos table-usuarios">
                    <table id="demo-foo-addrow" class="table m-t-30 table-hover contact-list" data-page-size="10">
                        <thead>
                            <tr>
                                <th class="cursor" (click)="ordenarIdArea()">No <i class="ti-exchange-vertical cursor" aria-hidden="true"></i></th>
                                <th class="cursor" (click)="ordenarNombre()">Nombre <i class="ti-exchange-vertical cursor" aria-hidden="true"></i></th>
                                <th class="cursor" (click)="ordenarResponsable()">Responsable <i class="ti-exchange-vertical cursor" aria-hidden="true"></i></th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let area of areas">
                                <td>{{area.idArea}}</td>
                                <td>{{area.nombre}}</td>
                                <td><span class="label label-danger">{{area.responsable}}</span> </td>
                                <td>
                                    <button (click)="eliminarArea(area)" type="button" class="btn btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Eliminar"><i class="ti-trash" aria-hidden="true"></i></button>
                                    <button (click)="actualizarArea(area)" type="button" class="btn btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Editar"><i class="ti-pencil-alt" aria-hidden="true"></i></button>
                                </td>

                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>

</div>



<app-loading *ngIf="loading"></app-loading>

<div class="row" *ngIf="error != null">
    <div class="col-lg-12">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">{{error.name}}</h4>
            <p>{{error.message}}</p>
            <hr>
            <p class="mb-0">{{error.status}}</p>
        </div>
    </div>
</div>
<app-modal-area></app-modal-area>
<app-modal-actualizar-area></app-modal-actualizar-area>