<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <!-- <button type="button" class="btn btn-info btn-rounded pull-left" (click)="abrirModal()">Agregar nuevo proveedor</button> -->

                <div class="table-responsive table-datos">
                    <table id="demo-foo-addrow" class="table m-t-30 table-hover contact-list" data-page-size="10">
                        <thead>
                            <tr>
                                <th class="cursor">No <i class="ti-exchange-vertical cursor" aria-hidden="true"></i></th>
                                <th class="cursor">Nombre <i class="ti-exchange-vertical cursor" aria-hidden="true"></i></th>
                                <th class="cursor">Apellido Paterno <i class="ti-exchange-vertical cursor" aria-hidden="true"></i></th>
                                <th class="cursor">Área <i class="ti-exchange-vertical cursor" aria-hidden="true"></i></th>
                                <th class="cursor">Usuario <i class="ti-exchange-vertical cursor" aria-hidden="true"></i></th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Juan</td>
                                <td>Escobedo</td>
                                <td>Tecnologías de la información y Comunicación </td>
                                <td>Juan1</td>
                                <td>
                                    <button type="button" class="btn btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Eliminar"><i class="ti-trash" aria-hidden="true"></i></button>
                                    <button type="button" class="btn btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Editar"><i class="ti-pencil-alt" aria-hidden="true"></i></button>
                                </td>

                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
</div>