<div class="w-100 d-flex justify-content-center">
    <ul class="pagination modal-2">
        <li><a href="#" class="prev">&laquo </a></li>
        <li><a href="#">1</a></li>
        <li> <a href="#">2</a></li>
        <li> <a href="#" class="active">3</a></li>
        <li> <a href="#">4</a></li>
        <li> <a href="#">5</a></li>
        <li> <a href="#">6</a></li>
        <li> <a href="#">7</a></li>
        <li> <a href="#">8</a></li>
        <li> <a href="#">9</a></li>
        <li><a href="#" class="next">  &raquo;</a></li>
    </ul>
</div>