<div class="row" *ngIf="vale" class="animated fadeIn">
    <div class="col-md-12">
        <div class="card card-body printableArea">
            <div class="row">
                <div class="col-md-6">
                    <div class="pull-left">
                        <h3> &nbsp;<b class="text-danger">{{vale.area.nombre}}</b></h3>
                        <p class="text-muted m-l-5">
                            <span>Responsable: <span>{{vale.area.responsable}}</span></span><br>
                            <span>Numero de requisicion: <span>{{vale.numeroRequisicion}}</span></span>
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="pull-right text-right">
                        <address>

                          <p class="m-t-30"><b> Fecha de entrega :</b> <i class="fa fa-calendar"></i>{{vale.fechaEntrega | date}}</p>
                         
                      </address>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="table-responsive m-t-40" style="clear: both;">
                        <div class="card-header bg-info">
                            <h4 class="m-b-0 text-white">Productos</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="table_products" class="table m-t-30 table-hover contact-list" data-page-size="10">
                                    <thead>
                                        <tr>
                                            <th>Cantidad solicitada</th>
                                            <th>Cantidad entregada</th>
                                            <th>Unidad medida</th>
                                            <th>Descripcion</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let productoVale of vale.items">
                                            <td>{{productoVale.cantidadSolicitada}}</td>
                                            <td>{{productoVale.cantidadEntregada}}</td>
                                            <td>{{productoVale.unidadMedida}}</td>
                                            <td>{{productoVale.facturaProducto.producto.descripcion}}</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <div id="add-contact" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">

                                                        <div class="modal-body">
                                                            <form class="form-horizontal form-material">
                                                                <div class="form-group">
                                                                    <div class="col-md-12 m-b-20">
                                                                        <input type="number" class="form-control" placeholder="Cantidad">
                                                                    </div>
                                                                    <div class="col-md-12 m-b-20">
                                                                        <input type="text" class="form-control" placeholder="Unidad"> </div>
                                                                    <div class="col-md-12 m-b-20">
                                                                        <input type="text" class="form-control" placeholder="Descripcción">
                                                                    </div>
                                                                    <div class="col-md-12 m-b-20">
                                                                        <input type="text" class="form-control" placeholder="Precio Unitario">
                                                                    </div>
                                                                    <div class="col-md-12 m-b-20">
                                                                        <input type="text" class="form-control" placeholder="Importe">
                                                                    </div>
                                                                    <div class="col-md-12 m-b-20">
                                                                        <input type="text" class="form-control" placeholder="Descuento">
                                                                    </div>
                                                                    <div class="col-md-12 m-b-20">
                                                                        <input type="text" class="form-control" placeholder="Impuesto">
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <!-- /.modal-content -->
                                                </div>
                                                <!-- /.modal-dialog -->
                                            </div>
                                            <td colspan="7">
                                                <div class="text-right">
                                                    <ul class="pagination"> </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 d-flex justify-content-between">
                    <div>
                        <button *ngIf="vale.documento" (click)="descargarArchivo(vale.documento)" class="btn btn-danger mx-2" type="submit"> Ver vale con firmas <i class="mdi mdi-eye ml-2"></i> </button>
                    </div>
                    <div>
                        <button [routerLink]="['/vales/editar', vale.idValeSalida]" class="btn btn-warning mx-2" type="submit"> Editar <i class="mdi mdi-pencil ml-2"></i> </button>
                    </div>
                    <div class="text-right">
                        <button [disabled]="loadingVale" (click)="abrirValeSalida()" id="print" class="btn btn-default btn-danger" type="button"> <span><i class="fa fa-print"></i> Imprimir vale de salida <i *ngIf="loadingVale" class="fa fa-spinner fa-spin"></i></span> </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-loading *ngIf="loading"></app-loading>