<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 col-informacion">
                        <div class="card ribbon-wrapper-reverse">
                            <div class="ribbon ribbon-bookmark ribbon-left ribbon-info">Información Básica</div>
                            <div class="card-body">
                                <form [formGroup]="formInformacion" class="m-t-40" [ngClass]="errorFormulario">
                                    <div class="row">
                                        <!--   input 1    -->
                                        <div class="form-group col-md-2">
                                            <label for="folio">Folio</label>
                                            <input formControlName="folio" type="text" class="form-control" id="folio">
                                            <span class="bar"></span>
                                            <span class="help-block"><small>*Obligatorio</small></span>
                                        </div>
                                        <div class="form-group col-md-5 m-b-40">
                                            <label for="input1">Nombre del proveedor</label>
                                            <div class="search-results style-http style-3">
                                                <input formControlName="proveedor" (keyup)="buscarProveedor(query)" [(ngModel)]="query" name="query" type="text" [value]="query" id="input1" ngxTypeahead class="col-sm-12 form-control" [taUrl]="url" [taParams]="params" [taApi]="api" (taSelected)="handleHttpResultSelected($event)"
                                                    autocomplete="off">
                                            </div>
                                            <span class="bar"></span>
                                            <span class="help-block"><small>*Obligatorio</small></span>
                                        </div>
                                        <!--   input 2    -->
                                        <div class="form-group col-md-5">
                                            <label for="fecha">Fecha de expedición</label>
                                            <input formControlName="fecha" type="date" class="form-control" id="date" placeholder="" id="fecha">
                                            <span class="help-block"><small>*Obligatorio</small></span>

                                        </div>
                                        <div class="form-group col-md-12 m-b-0">
                                            <label for="input7">Descripción</label>
                                            <textarea formControlName="descripcion" class="form-control" rows="4" id="input7"></textarea>
                                            <span class="bar"></span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="card ribbon-wrapper-reverse card-producto">
                            <div class="ribbon ribbon-bookmark ribbon-left ribbon-info mb-2">Añadir productos</div>
                            <div class="card-body">
                                <form ngNativeValidate [formGroup]="formProducto" (ngSubmit)="agregarProducto()">
                                    <div class="row">
                                        <div class="form-group col-md-1">
                                            <label for="clave">Clave</label>
                                            <input #txtClave  (blur)="getProduct(txtClave.value)" autocomplete="off" formControlName="clave" type="text" class="form-control" required id="clave">
                                            <span class="bar"></span>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="descripcion">Descripción del producto</label>
                                            <input autocomplete="off" formControlName="descripcionProducto" type="text" class="form-control" required id="descripcion">
                                            <span class="bar"></span>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="unidad">Unidad</label>
                                            <select formControlName="unidad" class="form-control p-0" required id="unidad">
                                                                <option value=""></option>
                                                                <option value="pieza">Pieza</option>
                                                                <option value="caja">Caja</option>
                                                                <option value="paquete">Paquete</option>
                                                                <option value="metro">Metro</option>
                                                                <option value="centrimetro">Centrimetro</option>
                                                                <option value="milimetro">Milimetro</option>
                                                                <option value="kilo">Kilo</option>
                                                                <option value="miligramo">Miligramo</option>
                                                                <option value="gramo">Gramo</option>
                                                                <option value="litro">Litro</option>
                                                                <option value="tonelada">Tonelada</option>
                                                            </select><span class="bar"></span>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="cantidad">Cantidad</label>
                                            <input #txtCantidad (change)="verificar($event.target.value)" min="1" autocomplete="off" formControlName="cantidad" type="number" class="form-control" required id="cantidad">
                                            <span class="bar"></span>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="precio">Precio unitario</label>
                                            <input #txtPrecio (change)="verificarPrecio($event.target.value)" min="1" autocomplete="off" formControlName="precio" type="text" class="form-control" id="precio">
                                            <span class="bar"></span>
                                        </div>
                                        <div class="form-group col-md-1">
                                            <button type="submit" class="btn btn-sm btn-danger">Agregar</button>
                                        </div>


                                    </div>

                                </form>
                                <!--   Table de productos agregados    -->

                                <div *ngIf="productos.length > 0" class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Clave</th>
                                                    <th>Descripcion</th>
                                                    <th>Unidad</th>
                                                    <th>Cantidad</th>
                                                    <th>Precio</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let producto of productos">
                                                    <td>{{producto.producto.clave}}</td>
                                                    <td>{{producto.producto.descripcion}}</td>
                                                    <td>{{producto.producto.unidadMedida}}</td>
                                                    <td><span class="label label-danger">{{producto.producto.cantidad}}</span></td>
                                                    <td>{{producto.producto.precio}}</td>
                                                    <td>
                                                        <button (click)="eliminarProducto(producto.producto)" type="button" class="btn btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Eliminar"><i class="ti-trash" aria-hidden="true"></i></button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="button-guardar mt-1">
                    <button (click)="guardarFactura()" class="btn btn-rounded btn-danger">Guardar factura <i *ngIf="loading" class="fa fa-spinner fa-spin ml-1"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>