<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="user-profile">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="img-rounded-usuario"><span>{{letraUsuario | uppercase}}</span></div>
                            </div>
                            <div class="col-md-8 col-nombre">
                                <span class="hide-menu">{{usuario.nombre}}</span>
                            </div>
                        </div>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a routerLinkActive="active" class="cursor" [routerLink]="'/seguridad'">Seguridad</a></li>
                        <li><a class="cursor" (click)="logout()">Cerrar sesión</a></li>
                    </ul>
                </li>
                <li class="nav-devider"></li>
                <li class="nav-small-cap">Entradas y salidas</li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-file-document"></i><span class="hide-menu">Facturas</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a routerLinkActive="active" class="cursor" [routerLink]="'/facturas-ingresar'">Agregar factura </a></li>
                        <li><a routerLinkActive="active" class="cursor" [routerLink]="'/facturas/almacen/page/1'">Lista de facturas </a></li>
                    </ul>
                </li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-file-export"></i><span class="hide-menu">Vales de salidas</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a routerLinkActive="active" class="cursor" [routerLink]="'/vales-ingresar'">Generar vale </a></li>
                        <li><a routerLinkActive="active" class="cursor" [routerLink]="'/vales/activos/page/1'">Lista de vales </a></li>
                        <li><a routerLinkActive="active" class="cursor" [routerLink]="'/cargar-vale/subir'">Subir documento</a></li>
                    </ul>
                </li>
                <li class="nav-small-cap">Herramientas</li>
                <li><a routerLinkActive="active" [routerLink]="'/reportes'" class="waves-effect cursor"><i class="mdi mdi-file-chart"></i><span class="hide-menu">Generar reportes</span></a></li>

                <li class="nav-small-cap">Mantenimiento</li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-folder-lock"></i><span class="hide-menu">Administrar </span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a routerLinkActive="active" [routerLink]="'/proveedores/page/1'">Proveedores</a></li>
                        <li><a routerLinkActive="active" [routerLink]="'/productos/page/1'">Productos</a></li>
                        <li><a routerLinkActive="active" [routerLink]="'/areas'">Areas</a></li>
                        <li><a routerLinkActive="active" [routerLink]="'/usuarios'">Usuarios</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->