<div class="w-100 d-flex justify-content-end">
    <ul class="pagination modal-1">
        <li><a *ngIf="!pageable.first" class="prev" [routerLink]="['/vales/activos/page', (pageable.pageable.pageNumber + 1) - 1]"> &laquo; </a></li>
        <li><a [routerLink]="['/vales/activos/page', 1]">primera</a></li>
        <li><a routerLinkActive="active" [routerLink]="['/vales/activos/page', page]" *ngFor="let page of totalPages">{{page}}</a></li>
        <li><a [routerLink]="['/vales/activos/page', pageable.totalPages]">ultima</a></li>
        <li><a *ngIf="!pageable.last" class="next" [routerLink]="['/vales/activos/page', (pageable.pageable.pageNumber + 1) + 1]">  &raquo;</a></li>
    </ul>
</div>