<div class="row">
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div class="m-r-20 align-self-center"><img src="../assets/images/icon/income.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">Total facturas</h6>
                        <h2 class="m-t-0">953,000</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div class="m-r-20 align-self-center"><img src="../assets/images/icon/expense.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">Total vales</h6>
                        <h2 class="m-t-0">236,000</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div class="m-r-20 align-self-center"><img src="../assets/images/icon/assets.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">Total comisiones</h6>
                        <h2 class="m-t-0">987,563</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div class="m-r-20 align-self-center"><img src="../assets/images/icon/staff.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">Total productos</h6>
                        <h2 class="m-t-0">987,563</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Tablas -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="col-md-4">
                    <select class="custom-select b-0">
                    <option selected="">Ordenar por</option>
                    <option value="1">A - Z</option>
                    <option value="2">Z - A</option>
                </select>
                </div>


                <div class="col-md-4">
                    <div class="ml-auto">
                        <input type="text" placeholder="Buscar" class="form-control">
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="demo-foo-addrow" class="table m-t-30 table-hover contact-list" data-page-size="10">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Area</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Luis Alberto</td>
                                <td>Cordova Osorio</td>
                                <td>TIC'S </td>
                                <td><span class="label label-danger">Finalizado</span></td>
                                <td>
                                    <button type="button" class="btn btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Eliminar"><i class="ti-trash" aria-hidden="true"></i></button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Editar"><i class="ti-pencil-alt" aria-hidden="true"></i></button>
                                </td>

                        </tbody>
                    </table>
                    <div class="paginador d-flex justify-content-center">
                        <nav aria-label="...">
                            <ul class="pagination">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">Anterior</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item active">
                                    <a class="page-link" href="#">4 <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Siguiente</a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-info btn-rounded pull-left">Agregar un nuevo Usuario</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div>
                        <h4 class="card-title"><span class="lstick"></span>Áreas</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="ml-auto">
                            <select class="custom-select b-0">
                                        <option selected="">Ordenar por</option>
                                        <option value="1">A - Z</option>
                                        <option value="2">Z - A</option>
                                    </select>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="ml-auto">
                            <input type="text" placeholder="Buscar" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="demo-foo-addrow" class="table m-t-30 table-hover contact-list" data-page-size="10">
                        <thead>
                            <tr>

                                <th>No</th>
                                <th>Nombre</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>TIC'S</td>
                                <td>
                                    <button type="button" class="btn btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Eliminar"><i class="ti-trash" aria-hidden="true"></i></button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Editar"><i class="ti-pencil-alt" aria-hidden="true"></i></button>
                                </td>

                        </tbody>
                    </table>
                    <div class="paginador d-flex justify-content-center">
                        <nav aria-label="...">
                            <ul class="pagination">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">Anterior</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item active">
                                    <a class="page-link" href="#">4 <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Siguiente</a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-info btn-rounded pull-left">Agregar nueva Área</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>