<div class="row" *ngIf="info && !loading">
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div class="m-r-20 align-self-center"><img src="../assets/images/icon/income.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">Total productos</h6>
                        <h2 class="m-t-0">{{info.totalProductos}}</h2>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div class="m-r-20 align-self-center"><img src="../assets/images/icon/expense.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">Total vales</h6>
                        <h2 class="m-t-0">{{info.totalVales}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div class="m-r-20 align-self-center"><img src="../assets/images/icon/assets.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">Total facturas</h6>
                        <h2 class="m-t-0">{{info.totalFacturas}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div class="m-r-20 align-self-center"><img src="../assets/images/icon/staff.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">Total proveedores</h6>
                        <h2 class="m-t-0">{{info.totalProveedores}}</h2>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="loading"></app-loading>


<div class="row">
    <div class="col-md-5">
        <div class="card">
            <div class="card-body">
                <div class="d-flex no-block">
                    <h4 class="card-title"><span class="lstick"></span>Nuevos productos</h4>
                </div>
                <div class="message-box contact-box">
                    <div class="message-widget contact-widget" *ngFor="let producto of info.productosRecientes.content">
                        <!-- Message -->
                        <a href="#">
                            <div class="user-img"> <img src="../../../assets/images/box.png" alt="user" class="img-circle"> <span class="profile-status online pull-right"></span> </div>
                            <div class="mail-contnet">
                                <p class="m-b-0">{{producto.descripcion}}</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7 col-xlg-8">
        <div class="card">
            <div class="card-body">
                <app-grafica-vales></app-grafica-vales>
            </div>
        </div>
    </div>
</div>