<div class="row" *ngIf="info && !loading">
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div class="m-r-20 align-self-center"><img src="../assets/images/icon/income.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">Total productos</h6>
                        <h2 class="m-t-0">{{info.totalProductos}}</h2>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div class="m-r-20 align-self-center"><img src="../assets/images/icon/expense.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">Total vales</h6>
                        <h2 class="m-t-0">{{info.totalVales}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div class="m-r-20 align-self-center"><img src="../assets/images/icon/assets.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">Total facturas</h6>
                        <h2 class="m-t-0">{{info.totalFacturas}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div class="m-r-20 align-self-center"><img src="../assets/images/icon/staff.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">Total proveedores</h6>
                        <h2 class="m-t-0">{{info.totalProveedores}}</h2>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-loading *ngIf="loading"></app-loading>


<div class="row">
    <div class="col-md-5" *ngIf="productos.length > 0">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div>
                        <h4 class="card-title"><span class="lstick"></span>Productos recientes</h4>
                    </div>

                </div>
                <div class="table-responsive m-t-20">
                    <table class="table vm no-th-brd pro-of-month">
                        <thead>
                            <tr>
                                <th>Descripcion</th>
                                <th>Unidad medida</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let producto of productos">
                                <td>
                                    <h6>{{producto.descripcion}}</h6><small class="text-muted">${{producto.precio}}</small></td>
                                <td><span class="label label-success label-rounded">{{producto.unidadMedida}}</span></td>
                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7 col-xlg-8">
        <div class="card">
            <div class="card-body">
                <app-grafica-vales></app-grafica-vales>
            </div>
        </div>
    </div>
</div>