<div class="row">
    <div class="col-md-8">
        <div class="card card-outline-inverse">
            <div class="card-header">
                <div class="row ">
                    <div class="col-lg-6">
                        <h4 class="mt-3 text-white">Seleccione el vale</h4>
                    </div>
                    <div class="col-lg-6">
                        <form class="form-material">
                            <div class="form-group">
                                <input #txtBuscar (keyup)="buscarFactura(txtBuscar.value)" type="text" class="form-control text-white" placeholder="Buscar vale"> </div>
                        </form>
                    </div>
                </div>
            </div>

            <!--   SELECCIONAR FACTURA    -->
            <div class="card-body">
                <h3>Vales recientes: </h3>
                <div *ngIf="loading" class="cargando w-100 d-flex justify-content-center p-5 animated fadeIn">
                    <i class="fa fa-spinner fa-spin fa-3x"></i>
                </div>
                <div *ngIf="vales.length == 0 && loaded" class="w-100">
                    <div class="alert alert-info" role="alert">
                        <strong>No tienes vales realizados <a [routerLink]="'/vales-ingresar'">generar vale de salida</a></strong>
                    </div>
                </div>
                <div *ngIf="loaded" class="list-group">
                    <a *ngFor="let vale of vales" (click)="elegirFactura(vale)" [ngClass]="{'activo': vale === valeE}" class="list-group-item list-group-item-action flex-column align-items-start cursor">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1"><span class="label label-info">N° requisición: </span> {{vale.numeroRequisicion}}</h5>
                            <small>{{vale.fechaEntrega | date}}</small>
                        </div>
                        <p><span class="label label-inverse">Área:</span> {{vale.area.nombre}}</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--   SUBIR ARCHIVO    -->
    <div class="col-lg-4 col-md-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Subir vale con sus firmas</h4>
                <input (change)="seleccionarArchivo($event)" type="file" id="input-file-max-fs" class="dropify" data-max-file-size="25M" />
            </div>
            <button [disabled]="loadingUpload" (click)="subirArchivo()" class="btn btn-inverse">Subir archivo
                 <i *ngIf="!loadingUpload" class="mdi mdi-upload ml-1"></i>
                 <i *ngIf="loadingUpload" class="fa fa-spinner fa-spin ml-1"></i>
                </button>

        </div>
    </div>
</div>

<app-loading *ngIf="loading"></app-loading>