<div *ngIf="loading" class="cargando w-100 d-flex justify-content-center p-5 animated fadeIn">
    <i class="fa fa-spinner fa-spin fa-3x"></i>
</div>

<div *ngIf="loaded" class="row animated fadeIn">
    <div class="col-md-2" *ngFor="let factura of facturas">
        <div class="card card-factura border mt-3">
            <div class="w-100 box-img">
                <img class="img-fluid" src="../../../../assets/images/document/pdf.png" alt="factura">
            </div>
            <div class="card-body">
                <h4 class="card-title">Folio {{factura.folio}}</h4>
                <p>Proveedor: {{factura.proveedor.nombre}}</p>
                <p>Total productos: {{factura.items.length}}</p>
                <p>Elaborado: {{factura.fechaCreacion | date}}</p>
                <a [routerLink]="['/facturas', factura.folio]" class="btn btn-danger btn-sm mt-1">Ver factura</a>
            </div>
        </div>
    </div>
</div>


<div class="row" *ngIf="error != null">
    <div class="col-lg-12">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">{{error.name}}</h4>
            <p>{{error.message}}</p>
            <hr>
            <p class="mb-0">{{error.status}}</p>
        </div>
    </div>
</div>

<div class="row" *ngIf="loaded && facturas.length == 0" class="animated fadeIn">
    <div class="col-md-12">
        <div class="alert alert-info  mt-3">
            <span>No tiene facturas entregadas</span>
        </div>
    </div>
</div>
