<div class="col-md-12 mt-4">
    <select class="selectpicker m-b-20 m-r-10" data-style="btn-info btn-outline-info" (change)="ordenar($event.target.value)">
        <option value="asc">Mas antiguos</option>
        <option value="desc" >Mas recientes</option>
    </select>
</div>
<div *ngIf="loaded && facturas.length > 0" class="row mt-3">
    <div class="col-lg-3 col-md-6" *ngFor="let factura of facturas">
        <div class="ribbon-wrapper card card-factura text-white">
            <div class="ribbon ribbon-corner ribbon-danger ribbon-right">
                <i class="fa fa-check-circle"></i>
            </div>
            <div class="card-body">
                <p class="m-b-1 txt-titulo">Folio: <span class="label label-danger"> {{factura.folio | uppercase}}</span></p>
                <p class="text-white m-0 p-0 txt-titulo">Proveedor:</p>
                <span class="txt-text">{{factura.proveedor.nombre}}</span>
                <p class="mb-0 pb-0 txt-titulo"> Elaborado: </p>
                <span class="txt-text"> {{factura.fechaExpedicion | date}}</span>
            </div>
            <div class="d-flex justify-content-between">
                <a [routerLink]="['/facturas', factura.folio]" class="btn btn-inverse">Ver</a>
                <a *ngIf="usuario.role === 'ROLE_ADMIN'" [routerLink]="['/facturas/editar', factura.folio]" class="btn btn-danger"><i class="mdi mdi-pencil"></i></a>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <app-paginator-factura-entregadas [paginador]="pageable"></app-paginator-factura-entregadas>
    </div>
</div>

<div *ngIf="loading" class="cargando w-100 d-flex justify-content-center p-5">
    <i class="fa fa-spinner fa-spin fa-3x"></i>
</div>

<div class="row" *ngIf="error != null">
    <div class="col-lg-12">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">{{error.name}}</h4>
            <p>{{error.message}}</p>
            <hr>
            <p class="mb-0">{{error.status}}</p>
        </div>
    </div>
</div>

<div class="row" *ngIf="loaded && facturas.length == 0">
    <div class="col-md-12">
        <div class="alert alert-info  mt-3">
            <span>No tiene facturas entregadas</span>
        </div>
    </div>
</div>