<div class="row">
    <div class="col-lg-6">
        <div class="card bg-info">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center"><img src="../../../assets/images/icon/income-w.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h6 class="text-white m-t-10 m-b-0">Reporte de productos por mes</h6>

                        <a class="mt-3 text-white btn btn-inverse btn-sm d-block" data-toggle="modal" data-target="#responsive-modal">Generar reporte</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card bg-success">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center"><img src="../../../assets/images/icon/expense-w.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h6 class="text-white m-t-10 m-b-0">Reporte de vales de salida</h6>
                        <a class="mt-3 text-white btn btn-inverse btn-sm d-block" data-toggle="modal" data-target="#responsive-modal">Generar reporte</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card bg-primary">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center"><img src="../../../assets/images/icon/assets-w.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h6 class="text-white m-t-10 m-b-0">Reporte de productos por proveedor</h6>
                        <a class="mt-3 text-white btn btn-inverse btn-sm d-block" data-toggle="modal" data-target="#responsive-modal-proveedores">Generar reporte</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card bg-danger">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center"><img src="../../../assets/images/icon/staff-w.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h6 class="text-white m-t-10 m-b-0">Reporte de gastos por area</h6>
                        <a class="mt-3 text-white btn btn-inverse btn-sm d-block" data-toggle="modal" data-target="#responsive-modal-gastos">Generar reporte</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--   MODAL REPORTE PRODUCTOS    -->
<div id="responsive-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Opciones</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="control-label d-block">Seleccione el mes:</label>
                        <select [(ngModel)]="mes" name="mes" class="form-control" data-style="btn-primary">
                                  <option *ngFor="let mes of meses" value="{{mes.numero}}" >{{mes.mes}}</option>
                                </select>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label d-block">Seleccione el año</label>
                        <select [(ngModel)]="ano" name="ano" class="form-control" data-style="btn-info">
                                  <option *ngFor="let ano of anos" value="{{ano}}" >{{ano}}</option>
                                </select>
                    </div>
                    <div class="mt-2">
                        <button (click)="reporteProductos()" type="button" class="btn btn-danger waves-effect waves-light">Generar reporte</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
<!--   ============= FIN MODAL PRODUCTOS =================    -->

<!--   MODAL REPORTE PROVEEDORES    -->
<div id="responsive-modal-proveedores" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Opciones</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <div class="form-group col-md-12 m-b-40">
                            <label for="input1">Nombre del proveedor</label>
                            <input class="form-control" #txtProveedor (keyup)="buscarProveedor(txtProveedor.value)" type="text" id="input1">
                            <span class="bar"></span>
                            <div *ngIf="proveedores.length > 0" class="typehead-proveedores w-100">
                                <p *ngFor="let proveedor of proveedores" (click)="colocarText(proveedor)">{{proveedor.nombre}}</p>
                            </div>
                            <span class="help-block"><small>*Obligatorio</small></span>
                        </div>
                    </div>
                    <div class="mt-2">
                        <button (click)="reporteProductosProveedores()" type="button" class="btn btn-danger waves-effect waves-light">Generar reporte</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<!--   ============= FIN MODAL PRODUCTOS =================    -->

<!--   MODAL GASTOS AREAS  -->
<div id="responsive-modal-gastos" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Opciones</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <div class="form-group col-md-12 m-b-40">
                            <label for="">Del</label>
                            <input #txtFecha1 type="date" class="form-control">
                            <label for="">Al</label>
                            <input #txtFecha2 type="date" class="form-control">
                        </div>
                    </div>
                    <div class="mt-2">
                        <button (click)="reporteGastosAreas()" type="button" class="btn btn-danger waves-effect waves-light">Generar reporte</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<!--   ============= FIN MODAL PRODUCTOS =================    -->